In [1]:
import pandas as pd

student = pd.read_csv(r"C:\Users\LENOVO\Downloads\student_performance.csv")
print(student)

    Student_ID           Name  Age  Marks  Attendance
0          101   Rahul Sharma   20   85.0        92.5
1          102    Priya Patel   19   78.0        88.0
2          103     Amit Kumar   21   92.0        95.0
3          104    Sneha Gupta   20   67.0        82.5
4          105   Vikram Singh   22    NaN        90.0
5          106   Anjali Mehta   19   73.0        85.5
6          107    Rohan Verma   21   95.0        97.0
7          108    Pooja Reddy   20   82.0        89.0
8          109    Karan Joshi   19   70.0        80.0
9          110      Neha Iyer   22   91.0        94.5
10         111     Arjun Nair   20    NaN        86.5
11         112     Divya Shah   21   84.0        91.0
12         113  Siddharth Rao   19   89.0         NaN
13         114    Kavya Desai   20   79.0        87.5
14         115  Aditya Pillai   22   93.0        96.0

In [2]:
# 2. Display first five records
print("First five records:")
print(student.head())

First five records:
   Student_ID          Name  Age  Marks  Attendance
0         101  Rahul Sharma   20   85.0        92.5
1         102   Priya Patel   19   78.0        88.0
2         103    Amit Kumar   21   92.0        95.0
3         104   Sneha Gupta   20   67.0        82.5
4         105  Vikram Singh   22    NaN        90.0

In [3]:
# 3. Display shape of the dataset
print("\nShape of dataset:")
print(student.shape)

Shape of dataset:
(15, 5)

In [4]:
# 4. Show column names and data types
print("\nColumn names and data types:")
print(student.dtypes)

Column names and data types:
Student_ID      int64
Name           object
Age             int64
Marks         float64
Attendance    float64
dtype: object

In [5]:
# 5. Check for missing values
print("\nMissing values in each column:")
print(student.isnull().sum())

Missing values in each column:
Student_ID    0
Name          0
Age           0
Marks         2
Attendance    1
dtype: int64

In [6]:
# 6. Display basic statistical summary
print("\nStatistical Summary:")
print(student.describe())

Statistical Summary:
       Student_ID        Age      Marks  Attendance
count   15.000000  15.000000  13.000000   14.000000
mean   108.000000  20.333333  82.923077   89.642857
std      4.472136   1.112697   9.114654    5.081749
min    101.000000  19.000000  67.000000   80.000000
25%    104.500000  19.500000  78.000000   86.750000
50%    108.000000  20.000000  84.000000   89.500000
75%    111.500000  21.000000  91.000000   94.000000
max    115.000000  22.000000  95.000000   97.000000